# in this project we will explore a basic machine learning project

### Machine learning is both shallow and depth depending upon what you are learning,
### If you are learning just implimentation it's very shallow and 
### If you are going in depth of how different algorithm works it's in depth.(Maths)

https://www.cs.cmu.edu/~tom/mlbook.html

In [30]:
import pandas as pd 
import numpy as np

# Pipe line 
1) Load data
2) Preprocess data (remove outlier , handle missing values, scale data)
3) Feed into model (Use any model you like and feed them) 
4) Evaluate the model (Use matrics to evalute model)
5) again Refine and Retune the model

# Step 1 : Load data

In [10]:
# Step 1 : Load data
df = pd.read_csv("IRIS.csv")

# Step 2:  Visualizing & Preprocessing Dataset

In [24]:
#visualising data set
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [25]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [26]:
# this gives the total sum of total null values in sepal_length column
df['sepal_length'].isna().sum()

0

In [27]:
df['sepal_length'].count()

150

# Step 3: Scaling 
* Normalization (min-max scaling)
* x - x_min / ( x_max - x_min )
* Standardization (Z-score normalization)
* (x - x_mean / standarddeviation )
* mean = 0 , standard deviation = 1 for scaled data

# Step 5 : Algorithm evaluation methods : 
* Resampling : sampling data on which model will be trained and on which model will be tested.
  * Cross validation
    * Leave One Out Cross-Validation
    * Stratification.
  * Bootstrapping
  * Train test split.

# Step 6 : Model evaluation matrics : 
* **Measuring Residual error**
  * MAE
  * RMSE
* **Measuring classification error**
  * Confusion matrix
  * Accuray, precision, recall , f1 score.