In [11]:
import numpy as np 
import pandas as pd 
from sklearn import datasets 
import matplotlib.pyplot as plt 
import seaborn as sns

In [15]:
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, skiprows=22, header=None)
raw_df

                                                      0
0      0.00632  18.00   2.310  0  0.5380  6.5750  65...
1                                  396.90   4.98  24.00
2      0.02731   0.00   7.070  0  0.4690  6.4210  78...
3                                  396.90   9.14  21.60
4      0.02729   0.00   7.070  0  0.4690  7.1850  61...
...                                                 ...
1007                               396.90   5.64  23.90
1008   0.10959   0.00  11.930  0  0.5730  6.7940  89...
1009                               393.45   6.48  22.00
1010   0.04741   0.00  11.930  0  0.5730  6.0300  80...
1011                               396.90   7.88  11.90

[1012 rows x 1 columns]