# **Maths refresher**

# Linear Algebra continued 
### **System of Linear Equation**
* Transformation is linear if it doesn't changes the origin and lines remain lines.

# Line, plane and space 
* 1 Dimention = Line
* 2D = Plane
* 3D = Space or hyperplane 
* **>3d = hyper plane**

# How transformation works ? 
### Imagine a person as a vector 
* we represent his initial configuration using vector v = [2i+3j+4k]
* Now if you want to increase the person's height width and depth or thickness we simply sclae it eg. we want to enlarge person by 2 = 2 * v = [4i+6j+8k]
* If we want to rotate the person we apply transformation by **A*V where A is a transformation matrix and V is a vector**

# **System of linear equation**
* Collection of two or more linear equation involving same set of two or more variables.
* 4x+2y+3z = 14
* 9x+2y+1z = 15
* 2x+3y = 0
* We have to find a solution such that when the value of variable is substituted it must equate L.H.S with R.H.S
* System of linear equation can have **Unique solution, No Solution, Multiple Solution**

# Use of System of linear equation in machine learning : 
* Lets image we have a house dataset with 3 features, 1 label and 10 rows :
* area in sq ft, nearest school in km, nearest hospital in km, rate per sq ft
* After we have this we can represent the above dataset in the form of system of linear equation

In [1]:
# Reprsenting the house dataset as system of linear equation.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./housedata.csv")

In [4]:
df.head()

,area in sq.ft,distance of nearest school from home in km,distance of nearest hospital from home in km,total price of home in INR
0,1400,10,13,1400000
1,1200,7,3,1600000
2,1000,12,14,1100000
3,1500,4,4,2500000
4,1600,2,2,3000000

In [5]:
# Now we can represent the above dataset as a system of linear equation just to visualize it
for idx,i in df.iterrows():
    print(f"{i.iloc[0]}x + {i.iloc[1]}y + {i.iloc[2]}z + b = {i.iloc[3]}")

1400x + 10y + 13z + b = 1400000
1200x + 7y + 3z + b = 1600000
1000x + 12y + 14z + b = 1100000
1500x + 4y + 4z + b = 2500000
1600x + 2y + 2z + b = 3000000
500x + 1y + 1z + b = 1800000
890x + 3y + 4z + b = 1200000
1000x + 5y + 6z + b = 1400000
1200x + 11y + 11z + b = 1300000
900x + 8y + 3z + b = 1400000

# NOTE : 
* We can see that above equations represent linear regression. 
* We have represented the dataset as a system of linear equation
* Now we can find a solution of given system of linear equation such that it satisfies all the datapoints and it's optimum when we substitute the value of x, y, z , b
* So if we see the above system of linear equation in terms of machine learning **x,y,z are weights and b is the bias**
* After this we can use gradient descent of OLS method to find the solution or we can even use a simple solution like in linear algebra by simply substuting the known value of bias.
* The smooth transition of mathematics into machine learning.
* we can find the values of x,y,z by finding the inverse of the matrix and this is how OLS works

# How OLS find the solution of X,Y,Z,b or we can say weights and biases 
* **In OLS we find the solution of system of linear equation by finding the inverse of matrix**
* But since we can have big [A]m*n it is costly to find the inverse of matrix it becomes costly.
* So we shift to graident descent to find wegith and biases